<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.eBike.mapper.UserInfoMapper">
 
 <select id="queryByUserName" parameterType="String" resultType="Integer" >
   <![CDATA[ select count(1) from userInfoTbl where userName=#{userName}]]> 
 </select>
 <insert id="insertUserInfo"  parameterType="org.eBike.bean.UserInfo">
    insert into userInfoTbl (userName, password,email,realName,province) values (#{userName}, #{pwd},#{email},#{realName},#{province})
 </insert>
 
</mapper>